.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color:var(--color-dark);
    border-radius: 8px;
    min-width: 420px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer {
    color: var(--color-gray);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}
